html {
    overflow: hidden;
    height: 100%;
        overflow-x: hidden;
}

body {
    background-color:#f9feff;
    height:100vh;
    width:100vw;
    overflow: hidden;
    font-size:100%;
    padding:0;
    margin:0;
        overflow-x: hidden;
    
}



p{font-family:'Bodoni', arial, sans-serif;
font-weight: 100;
font-size:0.8em;}


/*#wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:100%;

} */
    #container1{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-flow:column nowrap;
                flex-flow:column nowrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        max-width:30vw;
        height:100%;
        position:absolute;
        top:0;
    }
    
     h1 {
            max-width:45vw;
            font-size: 7vw;
            font-family: 'Helvetica', arial;
            color: rgb(255, 255, 255);
            text-shadow: 0px 20px 15.52px rgba(7, 26, 1, 0.05);
            line-height:13vh;
            z-index: 2;
            color: #ff9600;
               -webkit-text-fill-color: white; 
               -webkit-text-stroke-width: 0.03em;
               -webkit-text-stroke-color: c;
            padding-left:0.5em;
            margin-bottom:0em;  
         margin-top:-0.1em;
         text-transform: uppercase;
        }

h1:hover{
    cursor:pointer;
}

    #menu>a{
            padding-left:0.5em;
            padding-top:0.1em;
            font-family:'Helvetica', arial, sans-serif;
            font-size:6vw;
            color:#003c48;
            text-align: left;
            -webkit-transition: color 0.4s ease-in-out;
            -o-transition: color 0.4s ease-in-out;
            transition: color 0.4s ease-in-out;
            background-color: transparent;
            text-transform: uppercase;
            text-decoration:none;
            font-weight:700;
            max-width:30vw;
    }

#menu>a:hover{
      color:#ff4c00;
            cursor:pointer;
}

h2,h3,h4{
    font-family: 'Helvetica', arial;
}

h2{
    color:#003c48;
-webkit-transition:all 0.2s ease;
-o-transition:all 0.2s ease;
transition:all 0.2s ease;
font-size:1.2em;
text-align:left;
}
h2:hover{
    color:#ff4c00;
    cursor:pointer;
}

h3{
    color:#ff6000;
    font-size:0.8em;
margin-top:-1em;
margin-bottom:-0.1em;}

h4{
    color:#ff6000;
    font-weight: 500;
    font-size:0.8em;
}


#container2{
    position:absolute;
    width:50vw;
    overflow-y:hidden;
    top:0;
    right:0;
    max-height:100%;
    min-height:100%;
    margin:0;
        overflow-x: hidden;


}

#container2Scroll{
    position: absolute;
    top:0;
    right:0;
    width:50vw;
    max-height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

.onePage {
    border-left:1px solid #ff6000;
    position:absolute;
    background-color:white;
    -webkit-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    right:0;
    overflow-x: hidden;
    margin-right:-0.2em;
    top:0;
    max-height: 100%;
    min-height:100%;
    
}

#projects{  
    display:-webkit-box;  
    display:-ms-flexbox;  
    display:flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    
}

#projectSection{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding:1em;
    width:45vw;
    overflow-y: scroll;
    overflow-x: hidden;
}



.proj{
    max-width:40vw;
    color:#003c48;
    max-height:100vh;

}

::-webkit-scrollbar {
display: none;
}


.projtog{
    text-align: left;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    
}
.projContent{
    max-width:40vw;
    max-height:57vh;
    overflow: scroll;
    -webkit-transition: all ease-in-out 200ms;
    -o-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    position:relative;
    

}

.closingsection{
    font-family: sans-serif;
    font-weight: 900;
     color:#003c48;
    opacity: 0.9;
    font-size: 70%;
    position:relative;
    margin-left:auto;
    padding:1em;
    cursor: pointer;
    display:none;
    -webkit-transition: -webkit-all .8s ease-in-out;
    transition: -webkit-all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    transition: all .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.closingsection:hover{
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
        color:#ff4c00;
    
}



.projectImages{
     max-width: 40vw;
}


#noted{
    font-size:0.6em;
}

#newsSection {
    max-height:100%;
    padding:1em;
    max-width:45vw;
    min-width:44vw;
    color:#003c48;
}
#newsSection>img {
    max-width:45vw;
    padding-bottom:1em;
}
#newsSection>span{
    display: block;
    border-top:1px solid #ff6000;
    width:100vw;
    margin-left:-1em;
}

#infoSection{
    min-height:100vh;
    padding:1em;
    max-width:50vw;
    color:#003c48;
    line-height:100%;
    font-weight: 90;
    text-align:justify;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow:hidden;
    padding-top:0;
}

#infoSection>p{
            font-size:1em;
            line-height:120%;
            max-width:35vw;
    
            
        }


#more{
    overflow:!important hidden;
}
#moreSection{
    overflow-y:!important hidden;
    
    
}

.mySlides{
    display:none;
    min-width: 50vw;
    height:100vh;
    overflow:!important hidden;
    position:relative;
    margin:0 auto;

}

footer {bottom:0;
position:fixed;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
-ms-flex-pack: distribute;
    justify-content: space-around;}

footer>p{
    font-size:0.6em;
    font-family:'Helevtica',arial, sans-serif;
    padding-right:1em;
    padding-left: 0.8em;
}

#showOnMobileOnly{
    display:none;
}
